.ipynb_checkpoints/*
.vscode/* 
course_1_algorithmic_toolbox/course_materials
*.out
course_material/*
course_1_algorithmic_toolbox/week3_greedy_algorithms/1_money_change
course_1_algorithmic_toolbox/week3_greedy_algorithms/2_maximum_value_of_loot
course_1_algorithmic_toolbox/week3_greedy_algorithms/4_maximum_dot_product
course_1_algorithmic_toolbox/week3_greedy_algorithms/4_minimum_segments
course_1_algorithmic_toolbox/week3_greedy_algorithms/4_minimum_segments copy
course_1_algorithmic_toolbox/week3_greedy_algorithms/4_minimum_segments_map_pair
course_1_algorithmic_toolbox/week3_greedy_algorithms/6_max_number_of_prizes
course_1_algorithmic_toolbox/week3_greedy_algorithms/6_max_number_of_prizes_improve_time
course_1_algorithmic_toolbox/week3_greedy_algorithms/7_maximum_salary
course_1_algorithmic_toolbox/week3_greedy_algorithms/min_fuel
course_1_algorithmic_toolbox/week3_greedy_algorithms/minimum_car_fueling_refills
course_1_algorithmic_toolbox/week3_greedy_algorithms/minimum_car_fueling_refills_using_vector
course_1_algorithmic_toolbox/week3_greedy_algorithms/4_minimum_segments_pairs.cpp
